# Server Configuration
PORT=5000
NODE_ENV=development

# MongoDB Connection (use your Atlas URI on Railway)
MONGO_URI=mongodb://atlas-sql-6a0ecfce5d195291b5464ea3-aokldb.a.query.mongodb.net/sample_mflix?ssl=true&authSource=admin
# JWT Secret (use a strong secret on production)
JWT_SECRET=TeamTaskManager$ecretKey2024!SuperSecure

# Client URL (for CORS - update for production)
CLIENT_URL=http://localhost:5173
